<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Duck Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="./build/coverage"/>
      <clover outputFile="./build/logs/clover.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
